[credential]
	helper = store
[user]
	name = Cooper Pellaton
	email = cooper@memorahealth.com
	signingkey = ADCEAB03BA06B5AE
[sequence]
	editor = interactive-rebase-tool
[merge]
	conflictstyle = diff3
[rerere]
	enabled = 1
[color]
	ui = auto
[push]
	default = tracking
[diff]
    renames = copies
    mnemonicprefix = true
    compactionHeuristic = true
[rebase]
    autoStash = true
[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta
[delta]
    line-numbers = true
    plus-style = "syntax #012800"
    minus-style = "syntax #340001"
    syntax-theme = Solarized (dark)
    navigate = true
[interactive]
    diffFilter = delta --color-only
