.DS_Store

# Ignore fish submodules.
fish/
!fish/.config/fish/config.fish
!fish/.config/fish/functions/fish_prompt.fish

# Ignore VIm submodules.
vim/bundle
~/.vim/bundle

# Ignore TMUX plugins.
~/.tmux/plugins

# Ignore fzf
~/.fzf/
